<mat-toolbar class="header mat-elevation-z2">
  <span>
      <a routerLink = '/'>
          <img class='logo' src="assets/img/logo.svg" alt="logo">
      </a>
  </span>
  <span class="form1">
    <form action=".">
      <fieldset>
          <input type="search" placeholder="Procure por serviços" />
      </fieldset>
      <i class="far fa-search"></i>
  </form>

  </span>
  <span class="sociais">
      <label class="escrito">

        Sigam nossas <br>
        redes sociais
      </label>
     <a>
      <i class="fab fa-facebook-f"></i>


     </a>
     <a>
      <i class="fab fa-instagram"></i>

      </a>
      <a>
        <i class="fab fa-twitter"></i>

      </a>


  </span>

</mat-toolbar>
<router-outlet></router-outlet>
