
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fixx-web-primary: mat-palette($mat-indigo);
$fixx-web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fixx-web-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fixx-web-theme: mat-light-theme((
  color: (
    primary: $fixx-web-primary,
    accent: $fixx-web-accent,
    warn: $fixx-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($fixx-web-theme);

@import '~bootstrap/dist/css/bootstrap.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

@import './assets/css/global.css';
// @import './assets/css/admin.css';
// @import './assets/css/cadastro.css';
@import './assets/css/institucional.css';
@import './assets/css/profissional.css';

// Ajustando layout do prime
.p-panelmenu .p-panelmenu-header > a {
    border: 0;
    background: transparent;
}

.p-inputtext, .p-dropdown {
    border: 0;
    background: transparent;
    display: inline-block;
    width: 100%;
    height: 42px;
    margin-top: 5px;
    padding: 0px 10px;
    color: var(--brown);
}

.p-inputtext:enabled:focus, .p-dropdown:not(:disabled).p-focus {
    box-shadow: none;
    border-color: transparent;
}

label button { 
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    margin-left: 3px;
    background-color: var(--black); 
    color: #fff; 
    font-size: 18px; 
    text-align: center; 
    line-height: 40px; 
    border-radius: 10px; 
    vertical-align: middle; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
