<div class="container-cadastro">
    <main id="wrapper">

        <header id="header" class="block">
            <span class="logo"><img src="assets/img/logo.svg" /></span>
        </header>

        <section>
            <header>
                <strong>Cadastre-se</strong>
                <p>Para conectar e acessar nossos serviços, digite abaixo o seu login e senha.</p>
                <nav>
                    <ul>
                        <li [ngClass]="{'on': view === 1}"><a title="Profissional">Acesso</a></li>
                        <li [ngClass]="{'on': view === 2}"><a title="Profissional">{{strTituloCadastro()}}</a></li>
                        <li [ngClass]="{'on': view === 3}"><a title="Profissional">Senha</a></li>
                        <!-- <li><a href="" title="Contratar Serviço">Contratar Serviço</a></li> -->
                    </ul>
                </nav>
            </header>

            <article *ngIf="view === 1">
                <fieldset>
                    <label>
                        <strong>Perfil cliente</strong>
                        <p>Desejo me cadastrar para solicitar serviços</p>
                        <input type="submit" value="Cliente" (click)="cliente()" />
                    </label>
                    <label>
                        <strong>Perfil profissional</strong>
                        <p>Desejo me cadastrar para realizar serviços</p>
                        <input type="submit" value="Profissional" (click)="profissional()" />
                    </label>
                </fieldset>
            </article>

            <article *ngIf="view === 2">
                <form>
                    <fieldset>
                        <label>
                            <strong>Nome</strong>
                            <input id="idNomeUsuario" name="nomeUsuario" type="text" [(ngModel)]="novoUsuario.txt_nome" />
                        </label>
                        <label>
                            <strong>Data de nascimento</strong>
                            <p-calendar id="dtNomeUsuario" name="dtNomeUsuario" type="text"
                                [(ngModel)]="novoUsuario.dtNascimento">
                            </p-calendar>
                        </label>
                        <label>
                            <strong>CPF</strong>
                            <p-inputMask id="cpfNomeUsuario" name="cpfNomeUsuario" type="text"
                                unmask="true" mask="999.999.999-99" [(ngModel)]="novoUsuario.txt_cpf" >
                            </p-inputMask>
                        </label>
                        <label>
                            <strong>Endereço</strong>
                            <input id="idEnderecoUsuario" name="enderecoUsuario" type="text"
                                [(ngModel)]="novoUsuario.txt_endereco" />
                        </label>
                        <label>
                            <strong>Telefone</strong>
                            <p-inputMask id="idTelefoneUsuario" name="telefoneUsuario" type="text"
                                unmask="true" mask="(99) 99999-9999" [(ngModel)]="novoUsuario.txt_telefone">
                            </p-inputMask>
                        </label>
                        <label>
                            <strong>Login/E-mail</strong>
                            <input id="idEmailUsuario" name="emailUsuario" type="text"
                                [(ngModel)]="novoUsuario.txt_email" />
                        </label>
                        <ng-container *ngIf="novoUsuario.id_permissao === 1">
                            <label class="no">
                                <small>
                                    <a href="" title="Adicionar formas de pagamento">
                                        + Adicionar formas de pagamento
                                    </a>
                                </small>
                            </label>
                        </ng-container>
                        <label>
                            <input type="submit" value="Cadastrar" (click)="validarCadastro()" />
                        </label>
                        <label>
                            <input type="submit" value="Voltar" (click)="voltar()" />
                        </label>
                    </fieldset>
                </form>
            </article>

            <article *ngIf="view === 3">
                <form>
                    <fieldset>
                        <label>
                            <strong>Senha</strong>
                            <input id="idSenhaUsuario" name="confirmarSenhaUsuario" type="password"
                                [(ngModel)]="novoUsuario.txt_senha" />
                        </label>
                        <label>
                            <strong>Confirma senha</strong>
                            <input id="idConfirmarSenhaUsuario" name="confirmarSenhaUsuario" type="password"
                                [(ngModel)]="novoUsuario.confirmarSenha" />
                        </label>
                        <label>
                            <input type="submit" value="Confirmar" (click)="confirmarCadastro()" />
                        </label>
                        <label>
                            <input type="submit" value="Voltar" (click)="voltar()" />
                        </label>
                    </fieldset>
                </form>
            </article>

        </section>
        <footer>
            <span>
                <a (click)="login()" title="Não possui cadastro? Clique aqui.">
                    Já possui cadastro? Clique aqui.
                </a>
            </span>
        </footer>
    </main>
</div>
