<app-toolbar></app-toolbar>

<div class="container">

</div>
<div id="services" class="block">
  <nav>
      <ul>
          <li>
              <a href="/login" title="Serviço em Eletrica">
                  <figure><img src="assets/img/service-icon1.svg" /></figure>
                  <strong>Serviço em <br />Elétrica</strong>
              </a>
          </li>
          <li>
              <a href="/login" title="Reparos em Geral">
                  <figure><img src="assets/img/service-icon2.svg" /></figure>
                  <strong>Reparos em <br />Geral</strong>
              </a>
          </li>
          <li>
              <a href="/login" title="Serviços em Alvenaria">
                  <figure><img src="assets/img/service-icon3.svg" /></figure>
                  <strong>Serviços em <br />Alvenaria</strong>
              </a>
          </li>
      </ul>
  </nav>
</div>

<div id="services-list" class="block">
  <header>
      <strong>Serviços <br />em elétrica</strong>
  </header>
  <section>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
      <article>
          <figure><img src="assets/img/_temp/5.jpg" /></figure>
          <figcaption>
              <small>Serviço: Instalação</small>
              <strong>Cabeamento para TV</strong>
              <span><a href="/login" title="Solicitar Orçamento">Solicitar Orçamento</a></span>
          </figcaption>
      </article>
  </section>
</div>
<!-- /#services-list.block -->

<div id="who" class="block">
  <section>
      <h6>Não encontrou o que procura?</h6>
      <p>Cadastre o serviço que se enquadra com o que você tem necessidade.</p>
      <span><a href="/login" title="Solicitar Serviço">Solicitar Serviço</a></span>
  </section>
</div>
<!-- /#who.block -->

<footer id="footer" class="block">
  <p>Copyright &copy; Fix Soluções 2021. Todos os direitos reservados</p>
</footer>
