.container1 {
  min-width: 1920px;
  height: 250px;
  background-color: var(--black);

}

.container0 {
  min-width: 1920px;
  height: 100px;
  background-color: white;

}

#profile {

  margin-top: -175px;

}
#profile h2{
  margin-top: 10px;
}
